<html>
<head>
    <title>Register Router</title>
    <link rel="stylesheet" href="/static/style.css" />
</head>
<body>
    <h1>Register Router</h1>
    
    <form method="POST" action="/add_device">
    <input name="router_ip" placeholder="Router IP" required />
    <input name="username" placeholder="Username" required />
    <input name="password" placeholder="Password" type="password" required />
    <button type="submit">Add Device</button>
  </form>

  <hr>

  <h2>Router List</h2>

  <ul>
    {% for device in data %}
      <li>
	       {{ device.router_ip }} - {{ device.username }}
           
           <form method="POST" action="{{ url_for('delete_device') }}" style="display:inline">
           <input type="hidden" name="device_id" value="{{ device._id }}">
           <button type="submit">Delete</button>
         </form>
      </li>
    {% endfor %}
  </ul>

</body>
</html>